.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.toolbar__filter {
  border: 1px solid lightgrey;
  padding: 6px 10px 3px;
  font-size: 1.5rem;
  outline: none;
  width: 40%;
}

.toolbar__sort-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  font-size: 1.5rem;
  width: 58%;
}

.toolbar__sort-nav select {
  border: 1px solid lightgrey;
  padding: 6px 10px 3px;
  font-size: 1.5rem;
}

.sorting-type {
  display: flex;
  gap: 5px;
  align-items: center;
  text-align: center;
}
