<div class="board__list">
  <p
    class="list__title"
    [ngStyle]="{border: '1px solid #' + listColor}"
  >
    {{(type === 'TODO' ? 'To Do' : type === 'DONE' ? 'Done' : 'In Progress') | uppercase}}
  </p>
   <div class="change-color-container">
     <button type="button" (click)="updateColor()">&#10003;</button>
     <input
       type="color"
       class="input-color"
       id="change-color"
       [value]="updatedColor"
       [(ngModel)]="updatedColor"
     >
   </div>

  <div class="tasks" [ngStyle]="{border: '1px solid #' + listColor}">

    <div class="add-task">
      <button type="button" (click)="toggleFormVisibility(!showAddForm)">{{showAddForm ? 	'-' : '+'}}</button>
      <form *ngIf="showAddForm" [formGroup]="form" (submit)="addTask()">
        <input formControlName="name" type="text" placeholder="Name">
        <button type="submit">Add</button>
      </form>
    </div>

    <div
      class="tasks-list"
      [ngStyle]="{'min-height': '400px'}"
      (dragenter)="$event.preventDefault()"
      (dragleave)="$event.preventDefault()"
      (dragover)="$event.preventDefault()"
      appDropListener [listType]="type"
    >
      <ng-container *ngFor="let t of tasks">
        <app-task
          [task]="t"
          (deleteTaskEvent)="onDeleteTask($event)"
          (editTaskEvent)="onEditTask($event)"
          (archiveTaskEvent)="archiveTask($event)"
        ></app-task>
      </ng-container>
    </div>

  </div>
</div>

