<div
  class="task"
  (windowClick)="onWindowClick()"
  [id]="task._id"
  #taskItem
  appWindowClickDetect
  appDragListener [task]="task"
>
  <button type="button" class="task__menu-btn" (click)="toggleContextMenu()" #taskMenu>...</button>
  <div class="task__menu-actions" *ngIf="showContextMenu">
    <span (click)="onDeleteTask(taskItem.id)">DELETE</span>
    <span (click)="onEditTask()">EDIT</span>
    <span (click)="onArchiveTask()">ARCHIVE</span>
  </div>
  <p class="task__name"><a [routerLink]="['comments', taskItem.id]" [state]="{comments: task.comments}">{{task.name}}</a></p>
</div>
