<app-board-toolbar
  (inputEvent)="updateFilterTerm($event)"
  (selectSortTypeEvent)="changeSortType($event)"
  (selectSortFieldEvent)="changeSortField($event)"
></app-board-toolbar>

<div class="boards" [ngStyle]="showAddBoardModal || showEditBoardModal ? {filter: 'blur(5px)'} : null">
  <div class="board add-board" (click)="toggleAddBoardModal()">+</div>
  <app-board
    *ngFor="let b of boards | filterBoards: filterTerm | sortBoard: sortType : sortField" [board]="b"
    (deleteBoardEvent)="deleteBoard($event)"
    (openBoardEditorEvent)="setEditingBoard($event)"
  ></app-board>
</div>

<app-board-modal
  modalType="ADD"
  *ngIf="showAddBoardModal"
  (addBoardEvent)="addBoard($event)"
  (closeModalEvent)="toggleAddBoardModal()"
></app-board-modal>

<app-board-modal
  modalType="EDIT"
  [editingBoard]="editingBoard"
  *ngIf="showEditBoardModal"
  (editBoardEvent)="editBoard($event)"
  (closeModalEvent)="toggleEditBoardModal()"
></app-board-modal>
