header {
  background-color: lightskyblue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 3em;
}

h1 {
  font-size: 3rem;
}

div {
  display: flex;
  gap: 1.5rem;
}

a {
  color: white;
  text-transform: uppercase;
}

a:hover {
  border-bottom: 1px solid white;
}

.username {
  color: black;
}
